h1{
    margin-left: 43%;
    font-size:large ;
}
button{
    margin-left: 43%;
}
.project{
    margin-top: 0%;
    margin-left: 70.5%;
}
.tab{
    width: 50%;
    margin-left: 25%;
}
.list{
    margin-left: 10%;
    margin-top: 5%;

    
}
